<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <div style="text-align: center">
            <% if (errors.length > 0 ) { %>
              <%= errors %> 
               <% } %>
               <% if (success.length > 0 ) { %>
                <%= success %> 
                 <% } %>
          </div>
    
        <!-- <div id='change-password'>
            <form class="" form action="/update/complete?_method=PUT" method="POST">
                <h3>username</h3>
                <input class="" type="text" id="username" name="username" placeholder="username">
                <h3>temp password</h3>
                <input class="" type="text" id="temp" name="temp" placeholder="temp password">
              <div class="" data-validate="Enter password">
                <h3>new password</h3>
                <input class="" type="password" id="password" name="password" placeholder="new password">
                <input class="" type="password" id="password2" name="password2" placeholder="retype password">
              </div>
              <div class="">
                  <button class="" type="submit">
                   Change PassWord
                  </button>
              </div>
            </form>
            </div> -->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src='/javascripts//register.js'></script>




<div class="container">
  <div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-login">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-6">
            <a href="#" class="active" id="login-form-link">Login</a>
          </div>
        </div>
        <hr>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">
            <form id="login-form" form action="/update/complete?_method=PUT" method="POST" role="form" style="display: block;">
              <div class="form-group">
                <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
              </div>
              <div class="form-group">
                <input type="password"  tabindex="2" class="form-control" type="text" id="temp" name="temp" placeholder="temp password">
              </div>
              <div class="form-group">
                <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="New Password">
              </div>
              <div class="form-group">
                <input type="password"  tabindex="2" class="form-control" type="password" id="password2" name="password2" placeholder="Retype New password">
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-6 col-sm-offset-3">
                    <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Update And Log In">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-12">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


        <script src="" async defer></script>
    </body>
</html>